.center {
    margin-top: 5%;
}

* {
    font-size: 20px;
    margin: 0 0;
    padding: 3px 3px;
}
body {
    background-color: white;
}
p {
    font-size: 35px;
    color: black;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
button {
    margin-top: 75px;
    width: 20%;
    height: 65px;
    border-radius: 15px;
    border: none;
    border-bottom: 6px rgb(85, 168, 141) solid;
    border-right: 6px rgb(85, 168, 141) solid;
    background-color: rgb(127, 255, 212);
    font-size: 170%;
}
button:hover {
    background-color: rgba(127, 255, 212, 0.4);
}
button:active {
    border-bottom: none;
    border-right: none;
}

table {
    width: 1300px;
}
td {
    width: 33.3%;
    text-align: center;
}