.center {
    margin-top: 5%;
}

* {
    font-size: 20px;
}
p {
    font-size: 50px;
    color: black;
}

table {
    width: 900px;
}

button {
    width: 20%;
    height: 10%;
    border-radius: 15px;
    border: none;
    border-bottom: 6px rgb(85, 168, 141) solid;
    border-right: 6px rgb(85, 168, 141) solid;
    background-color: rgb(127, 255, 212);
    font-size: 170%;
}

button:hover {
    background-color: rgba(127, 255, 212, 0.4);
}

button:active {
    border-bottom: none;
    border-right: none;
}

body {
    background-color: white;
}

td {
    width: 33.3%;
}